body
{
    background:whitesmoke;
}

#picture_1
{
    width: 250px;
    height: 200px;
    position: absolute;
    left: 40%;
    top: 20%;

}
h1
{
    position: absolute;
    left: 40%;
    top: 50%;
}
#io
{

    position: absolute;
    left: 43%;
    top:65%;

}

a{
    text-decoration:blink ;
    color: black;

}
p{
    position: absolute;
    left: 45%;
    top: 58%;
    font-weight: 400;
}
